/* Update existing styles and add new styles for hover effects and sticky header */

.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #346dd7;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add box shadow for header */
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
}

.logo-texts {
  margin-left: 10px;
  font-family: 'Arial', sans-serif; /* Example: Change font family */
  color: #fff; /* Example: Change text color */
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 18px; /* Example: Adjust font size */
  display: flex;
  align-items: center;
  transition: color 0.3s; /* Smooth transition for color change */
}

.nav-links a i {
  margin-right: 8px;
}

.nav-links a:hover {
  color: #4119b9; /* Example: Change text color on hover */
  
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #000;
  transition: background-color 0.3s;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .dropdown-content {
    width: 100%;
  }
}

/* Sticky header styles */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-links a.active {
  color: #007bff; /* Active link text color */
  font-weight: bold; /* Bold font for active link */
}
