.login-container {
   max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif; 
  text-decoration: light;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;

}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.captcha-box {
  display: flex;
  align-items: center;
}

.captcha-image {
  margin-right: 10px;
}

.btn {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
}

.btn:hover {
  background-color: #0056b3;
}

.captcha-image {
    width: 100%; /* Adjust width as needed */
    height: auto; /* Maintain aspect ratio */
    max-width: 200px; /* Limit maximum width */
  }
  
